/Users/jonasludwig/Desktop/MIPGN/venv/lib/
/Users/jonasludwig/Desktop/MIPGN/venv/share/
/Users/jonasludwig/Desktop/MIPGN/venv/bin/
/Users/jonasludwig/Desktop/MIPGN/venv/PythonBasicsNotebookPt1/assets/
/Users/jonasludwig/Desktop/MIPGN/venv/PythonBasicsNotebookPt1/pytorch_ssim/
