venv/*
*.DS_Store
*.pyc
*.nrrd
PythonBasicsNotebookPt1/assets/*
PythonBasicsNotebookPt1/pytorch_ssim/*
PythonBasicsNotebookPt1/DICOM/*
matRad/*
Radiotherapy_dataset/*
Registration data set/*
Testsave/*
Project/*
